.advantages {
    display: flex;
    justify-content: center;
    min-width: 320px;
}

.advantages__wrapper {
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.advantages__title {
    margin: 31px 30px 28px 30px;
}

.advantages__list {
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 58px;
    align-self: flex-start;
}

.advantages__item:not(:last-child) {
    margin-bottom: 83px;
}