.contacts {
    min-width: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts__title {
    margin: 0;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 28px;
    font-family: inherit;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
}

.contacts__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacts__list {
    margin-top: 0;
    margin-bottom: 34px;
    list-style-type: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
}

.contacts__item {
    display: flex;   
    margin-bottom: 28px;
}

.contacts__map {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contacts__map-wrap {
    display: block;
    align-self: center;
    margin-bottom: 42px;
    border-width: 0;
    width: 100%;
}

.contacts__open-feedback-window {
    width: 260px;
    box-sizing: border-box;
    padding: 14px;
    margin-left: 30px;
    margin-right: 30px;
    //margin-bottom: 55px;
    align-self: center; //не тянется кнопка
}

.contacts__type {
    margin: 0;
}

.contacts__path {
    margin: 0;
    padding-left: 35px;
}

/*.contacts__type {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
}

.contacts__path {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
}*/

@media (min-width: @tablet-width) {
    .contacts__wrapper {
        min-width: 768px;
        position: relative;
    }

    .contacts__title {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 22px;
        margin-bottom: 51px;
        font-size: 43px;
        line-height: 50px;
    }

    .contacts__list {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 49px;
        display: flex;
        //justify-content: space-between;
        font-size: 17px;
        line-height: 30px;          
    }

    .contacts__item {
        margin-bottom: 0;
    }

    .contacts__item:not(:last-child) {
        margin-right: 50px;
    }

    .contacts__open-feedback-window {
        margin-left: 50px;
        margin-right: 50px;
        width: 230px;
    }

    .contacts__map-wrap {
        margin-bottom: 55px;
    }

    .contacts__wrapper::after {
        position: absolute;
        top: 0;
        right: 53px;
        content: "";
        width: 47px;
        height: 81px;
        background-image: url("../img/decorative/flag.svg");
    }

    .contacts__path {
        padding-left: 25px;
    }
}

@media (min-width: @desktop-width) {
    .contacts__wrapper {
        width: 1050px;
        box-sizing: border-box;
        padding-left: 173px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 42px;
        display: grid;
        grid-template-columns: 350px 527px;
        //grid-template-rows: 136px 185px 136px;
        grid-template-rows: auto auto auto;
    }

    .contacts__title {
        margin: 0;
        //margin-left: 50px;
        //margin-right: 50px;
        margin-top: 79px;
        margin-right: 50px;
        margin-bottom: 28px;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 53px;
        line-height: 57px;
    }

    .contacts__list {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 50px;
        //margin-left: 50px;
        //margin-right: 50px;
        margin-top: 8px;
        flex-direction: column;
        justify-content: flex-start;
        //justify-content: space-between;
        grid-column: 1/2;
        grid-row: 2/3;  
    }

    .contacts__item {
        margin-bottom: 30px;
    }

    .contacts__open-feedback-window {
       margin: 0;
       margin-top: 54px;
       margin-left: 3px;
       grid-column: 1/2;
       grid-row: 3/4;
    }

    .contacts__map-wrap {
        margin: 0;
        grid-column: 2/3;
        grid-row: 1/4;
    }

    .contacts__map {
        height: 457px;
    }

    .contacts__wrapper::after {
        position: absolute;
        top: 62px;
        left: 62px;
        content: "";
        width: 47px;
        height: 81px;
        background-image: url("../img/decorative/flag.svg");
    }

    .contacts__type {
        width: 55px;
    }

    .contacts__item:not(:last-child) {
        margin-right: 0;
    }
}