.contacts {
    min-width: 320px;
    display: flex;
    justify-content: center;
}

.contacts__title {
    margin: 28px 30px;
}

.contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts__list {
    margin-bottom: 34px;
}

.contacts__item {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 28px;
}

.contacts__map {
    display: flex;
    justify-content: center;
}

.contacts__map-image {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 42px;    
}

.contacts__open-feedback-window {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 55px;
    padding: 16px;
}