.customer-data {
    display: block;
    margin-bottom: 13px;
}

.customer-data__legend {
    display: block;
    margin-bottom: 29px;
}

.customer-data__list {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    list-style-type: none;
}

@media (min-width: @tablet-width)  {
    .customer-data {
        padding-left: 217px;
        padding-right: 50px;
        margin-top: 50px;
        position: relative;
    }

    .customer-data__list {
        font-size: 19px;
        line-height: 18px;
    }
}

@media (min-width: @desktop-width) {
    .customer-data {
        padding-left: 227px;
        padding-right: 100px;
    }

}