.flycard {
    display: flex;
    justify-content: center;
    min-width: 320px;
}

.flycard__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flycard__title {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 3.5px;
    text-align: left;
}

.flycard__popularity {
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.flycard__description {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 28px;
}

.flycard__list {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 28px;
}

.flycard__image {
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25.5px;
    display: block;
    align-self: center;
}

.flycard__price {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 24.5px;
}

.flycard__order-button {
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 36px;
    padding: 16px;
}