.main-categories {
    display: flex;
    flex-direction: column;
    //align-items: center;
    min-width: 320px;
}

.main-categories__wrapper {
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/index/plushies.jpg);
    background-position: top 135% right 0;
    background-repeat: no-repeat;
    background-size: cover;
}    

.main-categories__title {
    justify-self: flex-end;
    margin: 71px 30px 120px 30px;
    font-family: inherit;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

@media (min-width: @tablet-width) {
    .main-categories__wrapper {
        min-height: 758px;
        background-position: top 0 right 0;
        position: relative;
    }

    .main-categories__wrapper::after {
        height: 24px;
        width: 100vh;
        background-image: url("../img/index/zigzag-fill-medium.png");
        background-repeat: repeat-x;
        position: absolute;
        bottom: 0;
        //left: -50%;
        content: "";
    }

    .main-categories__title {
        margin: 154px 50px 372px 50px;
    }
}

@media (min-width: @desktop-width) {
    .main-categories__wrapper {
        min-height: 763px;
        background-image: url("../img/index/plushies-desktop.jpg");
        background-position: top 25% right 0 ;
    }

    .main-categories__wrapper::after {
        height: 34px;
        width: 100vh;
        background-image: url("../img/index/zigzag-fill-large.png");
        background-repeat: repeat-x;
        position: absolute;
        bottom: 0;
        //left: -50%;
        content: "";
    }

    .main-categories__title {
        max-width: 700px;
        margin: 158px 280px 355px 280px;
        font-size: 53px;
        font-weight: 700;
        line-height: 57px;
    }    
}