.main-nav {
    display: flex;
    flex-direction: column;
    position: relative;

}

.main-nav--active {
    display: flex;
    flex-direction: column;
}

.main-nav__logo-toggle-wrap {
    display: flex;
    justify-content: center;
}

.main-nav__toggle {
    position: absolute;
    top: 32px;
    right: 31px;
}


.main-nav__container {
    display: flex;
    flex-direction: column;
}

.main-nav__container--closed {
    display: none;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}