.order-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 29px;
    margin-right: 29px;
}

.order-forms__attention-remark {
    margin-bottom: 30px;
}

.order-forms__submit-button {
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 55px;
    max-height: min-content;
}