.radio-filters__group {
    padding: 0;
    margin: 0;
    border-width: 0;
}

.radio-filters__list {
    padding: 0;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 19px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.radio-filters__item {
    display: block;
    margin-bottom: 24px;
    margin-left: 61px;
}

.radio-filters__control {
    position: relative;
}

.radio-filters__control-mark {
    position: absolute;
    top: -5px;
    left: -61px;
    width: 42px;
    height: 42px;
    border: 2px solid #444444;
    border-radius: 50%;
}

.radio-filters__control-mark:hover {
    border: 2px solid #62D1BA;
}

.radio-filters__control-mark:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.radio-filters__control-input:checked + .radio-filters__control-mark:before {
    width: 18px;
    height: 18px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #62D1BA;
    border-radius: 50%;
    z-index: 3;
}

.radio-filters__control-label {
    display: block;
    max-width: 200px;
}

@media (min-width: @tablet-width)  {
    .radio-filters__group {
        box-sizing: border-box;
        padding-left: 217px;
        padding-right: 50px;
        position: relative;
        //display: flex;
        //justify-content: flex-start;
        //flex-direction: row;
    }

    .radio-filters__list {
        margin: 0;
        font-size: 19px;
        line-height: 18px;
    }

    .radio-filters__control-label {
        max-width: 370px;
    }

    .radio-filters__item {
        margin-bottom: 58.2px;
    }
}

@media (min-width: @desktop-width) {
    .radio-filters__group {
        width: 1150px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6px;
        padding-left: 96px;
        padding-right: 96px;
    }

    .radio-filters__list {
        padding-left: 129px;
    }

    .radio-filters__item {
        margin-left: 80px;
    }

    .radio-filters__control-label {
        max-width: 745px;
    }

    .radio-filters__control-mark {
        width: 44px;
        height: 44px;
        top: -17px;
        left: -78px;
    }
}