.slider-buttons {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    display: flex;
}

.slider-buttons__item {
    padding: 13px 42px 13px 38px;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    cursor: pointer;
}

.slider-buttons__item--forward {
    padding: 13px 42px 13px 37px;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    cursor: pointer;
}

.slider-buttons__arrow-icon {
    fill: #000000;
}

.slider-buttons__arrow-icon:hover {
    fill: rgba(0, 0, 0, 0.6);
}

.slider-buttons__arrow-icon:active {
   fill:  rgba(0, 0, 0, 0.3);
}
