.webdeveloper-info {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 30px;
}

.webdeveloper-info__pointer {
    margin-right: 27px;
    font-family: inherit;
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.webdeveloper-info__icon {
    fill: #63D1BB;
}

@media (min-width: @tablet-width) {
    .webdeveloper-info {
        margin: 0;
    }
}